@use 'sass:color'
@use '@/shared/styles/variables' as *
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')

*
  font-family: "PT Sans", sans-serif
  padding: 0
  margin: 0
  box-sizing: border-box
  line-height: 1.1

::-webkit-scrollbar
  width: 3px
  height: 0

::-webkit-scrollbar-thumb
  background: color-mix(in srgb, var(--border) 80%, var(--font))
  border: none
  border-radius: 5px

::-webkit-scrollbar-track
  background-color: $border
  border-radius: 30px

#root
  display: flex
  height: 100vh

html, body
  overflow: hidden
  background-color: $background__tasks

main
  display: flex
  flex-direction: row
  align-items: flex-start
  gap: $sm
  padding: $md $sm
  height: 100%
  overflow-x: auto
  overflow-y: hidden
  flex: 1
  min-width: 0
  color: $font
  background-color: $background__tasks

  &:has(.boards__empty)
    justify-content: center

  .boards__empty
    display: flex
    align-self: center