@use '@/shared/styles/variables' as *

*
  padding: 0
  margin: 0
  box-sizing: border-box

#root
  display: flex
  height: 100vh

main
  display: flex
  flex: 1
  min-width: 0
  overflow: hidden
  justify-content: center
  color: $font
  background-color: $background__tasks

  .not-chose
    display: flex
    align-self: center