@use '@/shared/styles/variables' as *

.authWrap
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  width: 100%
  background: $background__muted

.authCard
  width: 100%
  max-width: 360px
  padding: $xxxl
  border: 1px solid $border
  border-radius: 10px
  background: $background

.authCardTop
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin: 0 0 $xxxl

  span
    color: $font-muted
    font-weight: 400

.authCardLogo
  display: flex
  justify-content: center
  font-size: $xxl
  font-weight: 500
  color: $font
  letter-spacing: -0.3px




