@use '@/shared/styles/variables' as *


.tasks
  display: flex
  flex-direction: column
  gap: $xs
  flex: 1
  min-height: 300px
  overflow-y: auto
  border-radius: $xs
  padding: 0 $xs
  height: 100%