@use '@/shared/styles/variables' as *


.container
  padding: 0 8px
  display: flex
  align-items: center
  justify-content: space-between
  gap: $sm

  .logo
    font-size: 17px
    font-weight: 600
    color: $font
    letter-spacing: -0.02em