@use '@/shared/styles/variables' as *

.container
  display: flex
  flex-direction: row
  gap: $sm
  height: 100%
  width: auto

.loading
  display: flex
  align-items: center
  margin: 0 auto
  color: $font