@use '@/shared/styles/variables' as *

aside
  display: flex
  flex-direction: column

  .column
    display: flex
    flex-direction: column
    gap: $sm

    .column__item
      display: flex
      flex-direction: row
      gap: $sm
      padding: $sm
      width: 100%
      outline: none
      border: none
      cursor: pointer

      &.dragging
        box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2)