/* ─── Sizes ───────────────────────────────────────── */

$xxxs: 0.125rem
$xxs: .25rem
$xs: .375rem
$sm: .5rem
$md: .75rem
$lg: .875rem
$xl: 1rem
$xxl: 1.25rem
$xxxl: 1.5rem

/* ─── Colors ───────────────────────────────────────── */

$background: #fafbfc
$background-muted: #E1EAF2
$background-choose: #eff6ff
$button-hover: #e1eaff

$hover: #D2E5F2

$font: #0D2567
$font-muted: #91A3BA
$font-choose: #2563eb

$border: #d4dcea